/* main title */
.inline-title {
    position: relative;
    margin-top: 2%;
    text-align: center;
    line-height: 1.7em;
    border-bottom: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
}

table td, th {
    width: 20%;
}

/* make all "add column" buttons for tables visible by default */
.table-col-btn {
    border-left: 1px solid white !important;
    border-top: 1px solid white !important;
    opacity: 1 !important;
}

/* make all "add column" buttons have a pointer cursor on hover */
.table-col-btn:hover {
    cursor: pointer !important;
    background-color: #53537b4d !important;
}

/* make all "add row" buttons for tables visible by default */
.table-row-btn {
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    opacity: 1 !important;
}

/* make all "add column" buttons have a pointer cursor on hover */
.table-row-btn:hover {
    cursor: pointer !important;
    background-color: #53537b4d !important;
}

/* hide table borders for tables */
table:has(.internal-embed.media-embed.image-embed.is-loaded),
table:has(.internal-embed.media-embed.image-embed.is-loaded) tr,
table:has(.internal-embed.media-embed.image-embed.is-loaded) td,
table:has(.internal-embed.media-embed.image-embed.is-loaded) th {
    border: hidden;
    /* margin-top: -5%; */
    padding: 0;
}

/* bg for all tr with th (headers of tables) */
tr:has(th) {
    background-color: #f0f8ff29 !important;  
}

/* bg for all tr without th (everything but headers of tables) */
tr:not(:has(th)):hover {
    background-color: #f0f8ff29 !important;
}

.cc-container:has(.ingredient-table-buttons) {
    width: -webkit-fill-available;
}

.ingredient-table-buttons ul,
.ingredient-table-buttons ul li {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

/* js buttons styles (h6) */
.HyperMD-header.HyperMD-header-6.cm-line {
    font-size: 17pt;
    padding: 0;
    vertical-align: middle;
    height: 42px;
    width: 65px;
    border: 1px solid;
    padding: 5px 5px 5px 5px !important;
    background-color: black;
    cursor: pointer;
}


/* js buttons styles (h6; hover) */
.HyperMD-header.HyperMD-header-6.cm-line:hover {
    /* background-color: rgb(27, 25, 25); */
    cursor: pointer;

}

/* Disable the Custom Classes class view ONLY for h6 elements during editing */
.cm-line:has(.cm-inline-code){ /*:has(+.HyperMD-header.HyperMD-header-6.cm-line) {*/
    display: none !important;
}



/* hide any "#" symbold in h6 editing mode by default */
.cm-formatting-header-6.cm-header-6 {
    display: none;
}

/* Metadata (properties) styles */

/* remove properties title */
.metadata-properties-heading {
    display: none;
}

/* the main parent container for properties */
.metadata-properties {
    font-size: 15pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    border-bottom: 1px solid;
}

/* for all parent containers of key-value */
.metadata-property {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-aligns content horizontally */
    margin: 10px; /* Adds space between pairs */
    flex: 1 1 200px;
}

/* for both of each properties and values */
.metadata-property-key,
.metadata-property-value {
    flex: 1;
    margin: 5px;
    text-align: center;
}

/* for all the property keys */
.metadata-property-key {
    background-color: rgb(235 123 54 / 30%);
    width: unset;
}

.metadata-property-key:hover {
    background-color: rgba(239, 99, 12, 0.3)
}

/* for all the property values */
.metadata-property-value {
    background-color: rgba(233, 131, 7, 0.2);
}

.metadata-property-value:hover {
    background-color: rgba(254, 141, 2, 0.322)
}

/* bg for the tag and calendar values: tags always first, calendar always second */
.metadata-property:nth-child(1) .metadata-property-value,
.metadata-property:nth-child(2) .metadata-property-value {
    background-color: unset !important;
}

/* center text in property values */
.metadata-property-value > div,
.metadata-property-value > input {
    text-align: center;
}

/* Uncomment these styles if you want the metadata (properties) panel move from top to bottom
.cm-sizer:has(.metadata-container) {
    position: relative;
}

.metadata-container {
    position: absolute;
    bottom: 0%;
    width: -webkit-fill-available;
    z-index: 9999;
} */

/* image gallery (div of each picture) */
.internal-embed.media-embed.image-embed.is-loaded {
    display: inline-block; /* Aligns items in a row */
    margin-right: 10px !important; /* Adds space between items */
    vertical-align: middle; /* Aligns images to the top */
    width: 250px; /* Set a uniform width */
    height: 250px; /* Set a uniform height */
    overflow: hidden; /* Ensures no overflow issues */
}


/* image gallery (img inside the div of each picture) */
.internal-embed.media-embed.image-embed.is-loaded img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center center; /* Ensures center scaling */
}

/* image gallery (hover) */
img:hover {
    position: fixed !important;
    z-index: 10 !important;
    top: 1% !important;
    left: 1% !important;
    object-fit: contain !important;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
}


/* Enlarge image for dynamically added 'expanded' class -> deprecated */
/* .internal-embed.media-embed.image-embed.is-loaded.expanded img {
    position: fixed;
    top: 10vh; 
    left: 10vw;
    width: 80vw;
    height: 80vh;
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    opacity: 1;
} */



/* a custom clas to apply bold and colorful text */
.bold-aqua {
    font-weight: bold !important;
    color: #c5c5e8 !important;
}

/* show "close button" for tabs without their being hovered or active */
.workspace-tabs.mod-top.mod-top-right-space.mod-active .workspace-tab-header-container .workspace-tab-header-inner-close-button {
    display: block !important;
}

/* any list item hover */
.HyperMD-list-line.cm-line:hover {
    background-color: #4343c4ad;
    border-radius: 10px 5px;
}

/* disable hr default border if hr is written via mardown (---) */
.hr.cm-line hr {
    border-top: none !important;
}

/* custom styles for hr separator written via marrkdown (---) */
.hr.cm-line {
    border-top: 3px solid rgb(235 123 54 / 60%);
    border-bottom: 3px solid rgb(235 123 54 / 60%);
    display: block !important;
    overflow: visible;
    text-align: center;
    height: 35px;
}

/* custom styles for hr separator written via marrkdown (---)::after */
.hr.cm-line::after {
    content: '🍞';
    padding: 0 4px;
    position: relative;
    top: -30px;
}